:root {
  --bg-color: #f0f8ff;
  --primary-color: #4b0082;
  --secondry-color: #008b8b;
  --contant-bg: #deb887;
  --info-color: #deb887;
  --card-bg: #87deb8;
  --silver-color: #757474;
  --el-color-primary: var(--secondry-color);
}
